*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial',sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #010101;

}


.container{
    display: flex;
    width: 800px;
    max-width: 90%;
    height: 500px;
    background: #2c3e50;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    border: 2px solid #485460;

}

.welcome-section  .welcome {
    font-size: 36px;
    margin-bottom: 20px;
    color: #1e272e;
    animation: bounce 2s infinite ease-in-out;
    width:50%;
}

@keyframes bounce {
    0%,100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}

.welcome-section p{
    font-size: 18px;
    color: #485460;
}


.forms-container {
    position: relative;
    width: 50%;
    height: 100%;
    overflow:hidden;
}

.form-wrapper{
    display: flex;
    width:200%;
    transition: transform 0.5s ease-in-out;
}

.form-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 40px;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #eee;
}

.form-container input {
    width: 80%;
    max-width: 300px;
    padding: 15px;
    margin: 10 px 0;
    border: 1px solid #808e9b;
    background-color: #485460;
    color: #eee;
    border-radius: 5px;
    outline: none;
}

.form-container input ::placeholder {
    color: #ddd;
}

.form-container button {
    width: 80%;
    max-width: 300px;
    padding: 15px;
    margin-top: 10px;
    background: #4ecdc4;
    border: none;
    border-radius: 5px ;
    color: #1e272e;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-form,.signup-form{
    width: 50;
}

.form-container button:hover {
    background: #00d8d6;
}

.form-container p {
    text-align: center;
    margin-top: 20px;
    color: #ddd;
}

.form-container p span {
    color: #4ecdc4;
    cursor: pointer;
    font-weight: bold;
}

.login{
    transform: translateX(0);
}

.signup{
    transform: translateX(100%);
}
.active-login  .login{
    transform: translateX(0);
}

.active-login .signup{
    transform: translateX(100%);
}

.active-signup  .login{
    transform: translateX(-100%);
}

.active-signup  .signup{
    transform: translateX(0);
}

.container{
    transition: transform 0.5s ease-in-out;
}

.slide{
    transform: translateX(-50%);
}